body {
    margin: 21px;
    background: rgb(69, 154, 211);
 }
 form {
    width: 290px;
    background: #f8f8f8;
    border-radius: 3px;
    margin: 48px auto;
    padding: 1em 1.5em 3.5em;
 }
 .float-right {
    float: right;
 }
 .btn {
    margin-right: 5px;
 }
  